@layer modules {
  input[type="submit"] {
    grid-column: 6/7;
    align-self: end;
    background-color: var(--accent-bg);
    padding: 0.875rem 1rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
    color: var(--accent);
    border: 2px solid transparent;
    transition: border-color 0.3s;
    border-radius: 0.6rem;
    font-size: 0.875rem;
    font-weight: 600;
  }

  input[type="submit"]:hover {
    background-color: var(--accent-bg);
    border-color: var(--accent);
  }

  input[type="submit"]:disabled,
  input[type="submit"]:disabled:hover{
    background-color: var(--disabled-bg);
    color: var(--disabled-border);
  }

  input[type="submit"]:disabled:hover {
    border-color: var(--disabled-border);
  }
}
