@layer modules {
  input {
    display: block;
    border: 1px solid transparent;
    outline: 1px solid var(--border);
    background-color: var(--field-bg);
    border-radius: 6px;
    width: 100%;
    padding: 0.6rem 0.8rem;
    color: var(--text-h);

    &:focus-visible {
    outline: 2px solid var(--accent-border);
    outline-offset: 2px;
    }
  }
}
