@layer modules {
  .post-summary {
    &.body {
      font-size: 0.875rem;
    }

    & .author {
      color: var(--text);
      font-size: 14px;
    }

    &.card {
      padding: 1rem;
      display: grid;
      grid-row: span 5;
      grid-template-rows: max-content auto max-content;
      grid-template-rows: subgrid;
      gap: 1rem;
    }

  }

  .post-summary .title {
    align-self: end;
  }

}
