@layer modules {
  .select-fields-widget {
    color: var(--text-h);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 0.5rem;

    & label {
      display: block;
      text-align: start;
      color: var(--text-h);
      font-weight: 500;
      font-size: 0.875em;
      grid-row-start: 1;
      grid-column-start: 1;
    }
    & label::after {
      content: ":";
    }

    & svg {
      width: 1rem;
      height: 1rem;
      justify-self: flex-end;
      align-self: center;
      grid-row-start: 2;
      grid-column-start: 1;
      pointer-events: none;
      margin-inline-end: 0.5rem;
      color: oklch(70.7% .022 261.325);
    }
  }
}
