@layer modules {
  .select-fields-widget {
    color: var(--text-h);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    margin: 0.875rem;

    & label {
      display: block;
      text-align: start;
      color: var(--text-h);
      font-weight: 500;
      font-size: 0.875em;
      margin: 0 0 8px;
      grid-row-start: 1;
      grid-column-start: 1;
    }
    & label {
    }
    & label::after {
      content: ":";
    }
    & select {
      appearance: none;
      outline: 1px solid var(--border);
      padding: 0.375rem 2rem 0.375rem 0.75rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
      background-color: var(--code-bg);
      border-radius: 0.375rem;
      width: 100%;
      border: 1px solid transparent;
      grid-row-start: 2;
      grid-column-start: 1;
      background-color: oklab(100% 0 5.96046e-8/.05);
    }

    & svg {
      width: 1rem;
      height: 1rem;
      justify-self: flex-end;
      align-self: center;
      grid-row-start: 2;
      grid-column-start: 1;
      pointer-events: none;
      margin-inline-end: 0.5rem;
      color: oklch(70.7% .022 261.325);
    }
  }
}
