@layer modules {
  .text-input {
    grid-column: 1/5;
    margin: 0.875rem;

    & label {
      display: block;
      text-align: start;
      color: var(--text-h);
      font-weight: 500;
      font-size: 0.875em;
      margin: 0 0 8px;
    }

    & input {
      display: block;
      border: 1px solid transparent;
      outline: 1px solid var(--border);
      border-radius: 6px;
      width: 100%;
      padding: 0.6rem 0.8rem;
      color: var(--text-h);

      &:focus-visible {
        outline: 2px solid var(--accent-border);
        outline-offset: 2px;
      }
    }
  }
}
