@layer modules {
  .text-input {
    & label {
      display: block;
      text-align: start;
      color: var(--text-h);
      font-weight: 500;
      font-size: 0.875em;
      margin: 0 0 0.5rem;
    }
  }
}
